@import url('https://fonts.googleapis.com/css2?family=Klee+One&family=Neucha&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Klee", serif;
    line-height: 1.6;
    text-align: center; 
}

header {
    background-color: #9c562f; 
    color: #fff;
    padding: 10px;
    height: 110px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.logo {
    width: 100px;
    height: auto;
}

nav a {
    color: #fff;
    font-size: x-large;
    font-family: "Neucha", sans-serif ;
    margin-right: 20px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    margin: 0 auto; 
    max-width: 800px; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
}

img {
    width: 200px; 
    height: 200px; 
    object-fit: cover; 
    margin: 10px; 
    display: inline-block; 
    vertical-align: top; 
}

p {
    flex: 0 0 48%; 
    border: 2px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 5px;
}

footer {
    background-color: #9c562f; 
    color: #fff;
    padding: 10px;
    text-align: center;
}

footer nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

footer nav a:hover {
    text-decoration: underline;
}
